# Dependências
node_modules/

# Variáveis de ambiente (NUNCA subir isso - tem senhas!)
.env
.env.local
.env.production

# Docker
get-docker.sh

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/
